/*Start Header part of Facebook Signup page*/
@media screen and (max-width:950px){
   
    .container{
        display:block;
        float:none;
        width:100%;
        
        margin:auto;
        padding:10px 5px 30px 10px;
        }
    .header{
        padding-bottom:20px;
        height:270px;
        width:100%;
        }
    .logo img{
        width:36%;
        height:30px;
        display:block;
        position:relative;
        margin:auto;
        padding:10px 0 20px 0;
        }
    .login-btn{
        float:none;
    }
   
    .login-btn input{
      width:20%;
        margin:auto;
        display:block;
        
        
    }
    .email, .password{
        margin:auto;
        width:55%;
        float:none;
        display:block;
        padding-left:10px;
        }
    
    .email, .password{
        margin-top:10px;
    }
    .email input, .password input{
        width:60%;
        margin:auto;
        margin-top:7px;
        display:block;
    }
    .login label{
    width:60%;
        margin:auto;
    }
    .password{
        float:none;
        display:block;
        }
    .fgot{
        display:block;
        width:60%;
        margin:auto;
        margin-top:10px;
    }
    
    
}
/*End Header part of Facebook Signup page*/

/*Start Signup Section  of Facebook Signup page*/
@media screen and (max-width:950px){
 
    .left-part img{
        width:70%;
        margin:auto;
        
        padding:0;
        display:block;
    }
    
    .left-title{
        display:block;
        width:65%;
        margin:auto;
        font-size:100%;
       
    }
    .right-part{
        margin:auto;
        width:60%;
        padding:0;
    }
    .right-title h1{
        font-size:170%;
        }
    
    .mobile-email input, .s-password{
        margin:auto;
        width:100%;
        
    }
    .firstname input{
        padding-right:0px;
        margin-bottom:10px;
        display:block;
        width:100%;
    }
    .surname input{
        box-sizing:border-box;
        display:block;
        width:100%;
    }
    .username{
        display:block;
        box-sizing:border-box;
        
    }
    .form-text p{
        
        display:block;
        margin-top:10px;
        width:70%;
    }
    .fmc label{
        font-size:80%;
    }
    .signup-btn{
        margin-top:20px;
    }
    .signup-btn  input{
        padding:2% 17%;
        
        font-size:90%;
        
    }
}
/*End Signup Section of Facebook Signup page*/