.container-grid{
    display:grid;
    background:red;
    grid-template-columns: 50px auto 150px 150px;
    grid-template-rows: auto 300px auto;
}
.grid-item{
    text-align:center;
    border:2px solid;
    padding:20px;
    box-sizing:border-box;
}

.item1{
    grid-column-start: 1;
    grid-column-end:4;
}

.item3{
    grid-column-start:1 ;
    grid-column-end:4;
}

.item5{
    grid-column-start:1 ;
    grid-column-end:5;
}