
body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-color:#3b5998;
    color:white;
    font-size:14px;
    width:100%;
    
   
}
.container{
    padding:13px 210px 6px 210px;
    display:flex;
    justify-content: space-between;
    max-width: 1300px;
    margin:auto;
}
.logo img{
    margin-top:17px;
}
.login{
    margin-top:5px;
}
.password input, .email input{
    border-radius:5px;
    border:2px solid white;
    margin:5px 0;
    width:135px;
}
.password a{
    font-size:12.5px;
}

.email{
    float:left;
    padding-right:15px;
}

.email label, .password label, .password input, .login-btn{
    display:block;
}
.login-btn{
    padding-top:12px;
    
}
.login-btn input{
    background:#4267b2;
    color:white;
    margin-top:4px;
    padding:3px 5px;
    border-radius:5px;
    border:2px solid #4267b2;
}
.password{
    float:left;
    padding-right:15px;
}

.password a{
    color:#8ea1c8;
    text-decoration: none;
}
.login-btn{
    float:left;
}

.login{
   
}