.flex-container{
    background-color:red;
    display:flex;
    height:300px;
    justify-content:center;
    align-items: center;
    
}

.flex-item{
    padding:30px;
    border:2px solid;
    width:10%;
    height:100px;
}