.dropitem-a{
    display:none;
}

.dropitem-a li a:hover{
    
    width:100%;
    background-color:orange;
}
.dropdown-a:hover .dropitem-a{
    
    display:block;
}












body{
    margin:0;
}
ul{
    margin:0;
    padding:0;
    background-color:black;
    overflow: hidden;
}
li{
    border-radius:10px;
}

ul li{
    
    overflow: hidden;float:left;
    list-style-type: none;
}
ul li a{
    
    color:white;
    text-decoration: none;
    padding:15px 20px;
    display:inline-block;
}
.dropitem li{
    display:block; 
    float:none;
    
    
}
ul li:hover{
    background-color:red;
}

.dropitem li:hover{
    background-color:green;
    
}

.dropitem{
    position: absolute;
    display:none;
}
.dropdown:hover .dropitem{
    display:block;
}
